---
// @ts-nocheck
export const prerender = false;
import MainLayout from '../layouts/Layout.astro';
import CourseCard from '../components/CourseCard.astro';

import { supabase } from '../lib/supabase';

const { data: progress } = await supabase
  .from("course_progress")
  .select("*");

const courses = [
  {
    title: 'Onboarding',
    image: '',
    progress: 20,
    href: '/onboarding/welkom',
    color: '#2241DD',
  },
  {
    title: 'Deel 1',
    image: '',
    progress: 40,
    href: '/deel-1/1',
    color: '#FF94E1',
  },
  {
    title: 'Deel 2',
    image: '',
    progress: 60,
    href: '/deel-2/1',
    color: '#FF6631',
  },
  {
    title: 'Deel 3',
    image: '',
    progress: 70,
    href: '/deel-3/1',
    color: '#E9F279',
  },
];

// Hier komen items zodra een gebruiker een cursus is begonnen.
const recentCourses = [
  {
    title: 'Onboarding',
    image: '',
    progress: 20,
    href: '/onboarding/welkom',
    color: '#2241DD',
  },
];
---

<MainLayout>
  <section class="dashboard">
    {recentCourses.length > 0 && (
      <>
        <h2>Ga verder waar je gebleven was</h2>

        <div class="carousel-wrapper">
          <ul class="carousel">
            {recentCourses.map((course) => (
              <li class="carousel-item">
                <CourseCard
                  title={course.title}
                  image={course.image}
                  progress={course.progress}
                  href={course.href}
                  color={course.color}
                />
              </li>
            ))}
          </ul>
        </div>
      </>
    )}

    <h1>Mijn Cursussen</h1>

    <div class="carousel-wrapper">
      <ul class="carousel">
        {courses.map((course) => (
          <li class="carousel-item">
            <CourseCard
              title={course.title}
              image={course.image}
              progress={course.progress}
              href={course.href}
              color={course.color}
            />
          </li>
        ))}
      </ul>
    </div>

  </section>
</MainLayout>

<style>
  .dashboard {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
  }

  h1, h2 {
    margin: 0 0 1.5rem;
    font-size: 2rem;
    color: #333;
  }

  h2 {
    margin-top: 2rem;
  }

  /* Carousel */
  .carousel-wrapper {
    position: relative;
  }

  .carousel {
    list-style: none;
    padding: 2rem 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel-item {
    flex: 0 0 200px;
    scroll-snap-align: start;
  }

  @media (min-width: 768px) {
    .carousel-item {
      flex: 0 0 350px;
    }

    h1, h2 {
      margin-bottom: 0rem;
    }
  }
</style>