---
// @ts-nocheck
export const prerender = false;
import MainLayout from '../layouts/Layout.astro';
import CourseCard from '../components/CourseCard.astro';

const courses = [
  {
    title: 'Onboarding',
    image: '/src/assets/algemeen.png',
    progress: 20,
    href: '/onboarding/welkom',
    color: '#2241DD',
  },
  {
    title: 'Deel 1',
    image: '/src/assets/visuelebeperking.png',
    progress: 40,
    href: '/deel-1/1',
    color: '#FF94E1',
  },
  {
    title: 'Deel 2',
    image: '/src/assets/auditievebeperking.png',
    progress: 60,
    href: '/deel-2/1',
    color: '#FF6631',
  },
  {
    title: 'Deel 3',
    image: '/src/assets/spraakbeperking.png',
    progress: 70,
    href: '/deel-3/1',
    color: '#E9F279',
  },
];
---

<MainLayout>
  <section class="dashboard">
    <h1>Mijn Cursussen</h1>

    <div class="carousel-wrapper">
      <ul class="carousel">
        {courses.map((course) => (
          <li class="carousel-item">
            <CourseCard
              title={course.title}
              image={course.image}
              progress={course.progress}
              href={course.href}
              color={course.color}
            />
          </li>
        ))}
      </ul>
    </div>
  </section>
</MainLayout>

<style>
  .dashboard {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    margin: 0 0 1.5rem;
    font-size: 2rem;
    color: #333;
  }

  /* Carousel */
  .carousel-wrapper {
    position: relative;
  }

  .carousel {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 2rem 0;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

.carousel-item {
  flex: 0 0 200px;
  scroll-snap-align: start;
}

@media (min-width: 768px) {
  .carousel-item {
    flex: 0 0 350px;
  }

  h1{
    margin-bottom: 0rem;
  }
}

/* @media (min-width: 1440px) {
  .dashboard {
    width: 100%;
    margin:0;

    & .carousel {
      width: 100vw;
    }
  }
} */
</style>