---
// @ts-nocheck
export const prerender = false;
import MainLayout from '../layouts/Layout.astro';
import CourseCard from '../components/CourseCard.astro';

const courses = [
  {
    title: 'Algemeen',
    image: '/src/assets/algemeen.png',
    progress: 20,
    href: '/algemeen/1',
    color: '#2241DD',
  },
  {
    title: 'Visueel',
    image: '/src/assets/visuelebeperking.png',
    progress: 40,
    href: '/visueel/1',
    color: '#FF94E1',
  },
  {
    title: 'Auditief',
    image: '/src/assets/auditievebeperking.png',
    progress: 60,
    href: '/auditief/1',
    color: '#FF6631',
  },
  {
    title: 'Spraak',
    image: '/src/assets/spraakbeperking.png',
    progress: 70,
    href: '/spraak/1',
    color: '#2241DD',
  },
  {
    title: 'Motoriek',
    image: '/src/assets/motorischebeperking.png',
    progress: 80,
    href: '/motoriek/1',
    color: '#E9F279',
  },
  {
    title: 'Uiterlijk',
    image: '/src/assets/uiterlijkebeperking.png',
    progress: 100,
    href: '/uiterlijk/1',
    color: '#B1F2D9',
  },
];
---

<MainLayout>
  <section class="dashboard">
    <h1>Mijn Cursussen</h1>

    <ul>
      {courses.map((course) => (
        <li>
          <CourseCard
            title={course.title}
            image={course.image}
            progress={course.progress}
            href={course.href}
            color={course.color}
          />
        </li>
      ))}
    </ul>
  </section>
</MainLayout>

<style>
  .dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    margin: 0 0 1.5rem;
    font-size: 2rem;
    color: #333;
  }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
</style>