---
import { ClientRouter } from "astro:transitions";

const bounceTransition = {
  forwards: {
    old: {
      name: "bounceOut",
      duration: "0.3s",
      easing: "ease-in",
      fillMode: "forwards",
    },
    new: {
      name: "bounceIn",
      duration: "0.4s",
      easing: "cubic-bezier(0.34, 1.56, 0.64, 1)",
      fillMode: "backwards",
      delay: "0.3s",
    },
  },
  backwards: {
  old: {
    name: "bounceOutRight",
    duration: "0.3s",
    easing: "ease-in",
    fillMode: "forwards",
  },
  new: {
    name: "bounceInLeft",
    duration: "0.4s",
    easing: "cubic-bezier(0.34, 1.56, 0.64, 1)",
    fillMode: "backwards",
    delay: "0.3s",
  },
},
};

const {
  title,
  nextHref = "/",
  backHref = "/",
  headingText = "Welkom!",
  bodyText = "...",
  step = 1,
  totalSteps = 5,
  showBack = true,
  showProgress = true,
} = Astro.props;

// https://claude.ai/chat/8789b362-5b69-4d5c-9b16-a4b157d09820 button back niet op welkompagina, wel op rest van stappen
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.svg?v=2" />

    <ClientRouter />
  </head>

  <body>
    <main class="container">
      <div class="logo">
        <img
          src="../../public/images/Mensenkenners-logo-hori.png"
          alt="Mensenkenners logo"
        />
      </div>

      <div class="div-container-content" transition:animate={bounceTransition}>
        <slot />

        <div class="questionnaire">
          <h1>{headingText}</h1>
          <p>{bodyText}</p>
        </div>

        {showProgress && (
  <div class="progress-bar">
    {
      Array.from({ length: totalSteps }, (_, i) => (
        <div
          class={`progress ${i < step - 1 ? "done-small" : ""} ${i === step - 1 ? "done" : ""}`}
        />
      ))
    }
  </div>
)}
      </div>

      <div class="buttons-onboarding">
        {
          showBack && (
            <a class="button-back" href={backHref} id="back-btn">
              <button>Ga terug</button>
            </a>
          )
        }
        <a class="button-next" href={nextHref}>
          <button>Ga verder</button>
        </a>
      </div>
    </main>
  </body>
</html>

<style>
  html{
    background-image: radial-gradient(
      circle at 0% 0%,
      rgb(181 219 206 / 0.4) 0%,
      transparent
    );

    background-size: 100% 100%;
    animation: pulse 2s ease-in-out infinite;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--color-background); */
    height: 100vh;
    overflow: hidden;
    padding: var(--size-base) var(--size-2xl);
  }

  @keyframes pulse {
    0%,
    100% {
      background-size: 100% 100%;
    }
    50% {
      background-size: 120% 120%;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--size-xl) 0 0 0;

    & img {
      width: 60%;
    }
  }

  .progress-bar {
    display: flex;
    gap: var(--size-xxs);
    /* margin-bottom: var(--size-base); */
    width: 100%;
    padding: var(--size-xxs) 0;
    justify-content: center;
  }

  .progress {
    width: var(--size-xxs);
    height: var(--size-xxs);
    background-color: #cbc6c6;
    border-radius: 50px;
  }

  .progress.done-small {
    /* width: 15%; */
    width: var(--size-xxs);
    height: var(--size-xxs);
    background-color: var(--color-cyan);
  }

  .progress.done {
    width: 15%;
    background-color: var(--color-cyan);
  }

  .buttons-onboarding {
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
    width: 100%;
    padding: var(--size-base) 0;
    justify-content: center;
  }

  .button-next,
  .button-back {
    width: 100%;
    /* margin-top: auto; */

    & button {
      background-color: var(--color-cyan);
      color: var(--color-background);
      /* color: var(--color-text); */
      font-weight: 600;
      border: none;
      padding: var(--size-xs) var(--size-2xl);
      border-radius: 25px;
      cursor: pointer;
      width: 100%;
    }
  }

  .button-back button {
    background-color: var(--color-background);
    color: var(--color-cyan);
    border: 2px solid var(--color-cyan);
  }

  .questionnaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-xxs);
    text-align: center;
    color: var(--color-text);
    margin-bottom: var(--size-2xl);

    & h1 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: var(--size-2xl);
      font-weight: 800;
      color: var(--color-text);
    }

    & p {
      font-size: var(--size-sm);
      font-weight: 400;
      /* width: 80%; */
      color: #7e7676;
      line-height: 1.2;
    }
  }

  @keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}


</style>

<script>
  const backBtn = document.getElementById("back-btn");
  if (backBtn) {
    backBtn.addEventListener("click", (e) => {
      e.preventDefault();
      history.back();
    });
  }
</script>