---
// @ts-nocheck
import data from "../../data/mensenkennersvragen.json";

export async function getStaticPaths() {
  const videos = data.flow.filter((item) => item.type === "Video");

  return videos.map((video, index) => ({
    params: {
      video: String(index + 1),
    },
    props: {
      video,
      index,
      total: videos.length,
    },
  }));
}

const { video, index, total } = Astro.props;

const currentPage = index + 1;

const previousPage =
  currentPage > 1 ? `/video/${currentPage - 1}` : null;

const nextPage =
  currentPage < total ? `/video/${currentPage + 1}` : null;

let embedUrl = video.url;

if (video.url?.includes("vimeo.com")) {
  const id = video.url.split("/").pop();
  embedUrl = `https://player.vimeo.com/video/${id}`;
}

if (video.url?.includes("youtube.com/watch?v=")) {
  const id = video.url.split("v=")[1];
  embedUrl = `https://www.youtube.com/embed/${id}`;
}
---

<h1>Video {currentPage} van {total}</h1>

<section>
  {video.title && <h2>{video.title}</h2>}

  {video.content && <p>{video.content}</p>}

{embedUrl && (
  <iframe
    width="100%"
    height="500"
    src={embedUrl}
    title={video.video_title}
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
  ></iframe>
)}
</section>

<nav>
  {previousPage && <a href={previousPage}>Vorige</a>}
  {nextPage && <a href={nextPage}>Volgende</a>}
</nav>